@mixin setBoardSizeClass($size){
    .board-size-#{$size}{
        width: inherit;
        height: inherit;
        display: grid;
        grid-template-columns: repeat($size, auto);
        position: absolute;
    }
}

@for $size from 2 to 10 {
    @include setBoardSizeClass($size)
}