colored-square{
    border: 0.25px solid rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: inset 0 0 10px #000000;
}

.square-animate-destroy{
    transition: all 1s ease-out;
    transform: scale(0);
}

$colors: (
    1 : #FF0000,
    2: green,
    3: #0000ff,
    4: yellow,
    5: orange,
    6: magenta,
    7: indigo,
    8: aqua,
    9: #65000B,
    10: rgb(94, 255, 115)

);

@mixin setSquareColorClass($value){
    $color: map-get($colors, $value);

    .square-color-#{$value}{
        background-image: radial-gradient(circle at top,lighten($color, 30%), $color);
    }
}

@for $value from 1 to 10 {
    @include setSquareColorClass($value)
}
