.square-style{
    // background-color: aquamarine;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    // box-shadow: inset 0 0 10px #000000;
}

.square-color-0{
    background-color: rgba(0, 0, 255, 0.445);
}

// .blue{
//     background-color: rgba(0, 0, 255, 0.445);
// }


.square-color-1{
    background-color: red;
}

// .red{
//     background-color: red;
// }

.square-color-2{
    background-color: green;
}

// .green{
//     background-color: green;
// }


.square-color-3{
    background-color: yellow;
}

// .yellow{
//     background-color: yellow;
// }
