.square-style{
    // background-color: aquamarine;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    // width: calc(inherit/5);
    // height: calc(inherit/5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    // box-shadow: inset 0 0 10px #000000;
}

.square-color-4{
    background-color: rgba(0, 0, 255, 0.445);
}


.square-color-1{
    background-color: red;
}


.square-color-2{
    background-color: green;
}


.square-color-3{
    background-color: yellow;
}

.square-size-16{
    width: calc(inherit/4);
    height: calc(inherit/4);
}

.square-size-25{
    width: calc(inherit/5);
    height: calc(inherit/5);
}

.square-size-36{
    width: calc(inherit/6);
    height: calc(inherit/6); 
}

.square-size-400{
    width: calc(inherit/20);
    height: calc(inherit/20); 
}