

.Gameover-style{
    color: white;
    font-size: 1.5em;
    background-color: rgba(59, 59, 59, 0.877);
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-shadow: 5px 4px rgb(0, 0, 0);
    z-index: 1;

    .play-again-button{
        color: white;
        background: none;
        font-size: 0.25em;
        border: 5px solid white;
        width: 50%;
        height: 20%;
    }

}