@mixin setBoardSizeClass($size){
    .board-size-#{$size}{
        grid-template-columns: repeat($size, auto);
    }
}




.App{
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .board-frame{
        margin-top: 50px;
        border: 15px solid rgb(119, 118, 118);
        border-radius: 10px;
        width: 33vw;
        height: 33vw;
        display: grid;
    }


    @for $size from 2 to 10 {
        @include setBoardSizeClass($size)
    }
}