.App{
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: row;
    // flex-wrap: wrap;
    // width: 325px;

    .board-frame{
        width: 325px;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto
        

        // display: flex;
        // flex-wrap: wrap;
    }
}