@mixin setBoardSizeClass($size){
    .board-size-#{$size}{
        grid-template-columns: repeat($size, auto);
    }
}

.App{
    background-color: rgb(201, 223, 243);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: [title] auto [gameBoard] auto;

    .board-frame{
        grid-row: gameBoard;
        justify-self: center;
        background-color: aliceblue;
        padding: 10px;
        box-shadow: inset 0 0 15px rgb(0, 0, 0);
        width: 50vw;
        height: 50vw;
        display: grid;
    }


    @for $size from 2 to 10 {
        @include setBoardSizeClass($size)
    }
}