title-bar{
    background: linear-gradient( rgb(196, 196, 196), rgb(73, 73, 73));
    border-bottom: 3px solid rgb(73, 73, 73);
    box-shadow: inset 0px -10px 10px -10px rgb(255, 255, 255);
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    title-name{
        font-size: 1.75em;
    }
}
