

.titlebar-style{
    background: linear-gradient( rgb(196, 196, 196), rgb(73, 73, 73));
    border-bottom: 3px solid rgb(73, 73, 73);
    box-shadow: inset 0px -10px 10px -10px rgb(255, 255, 255);
    width: 100vw;
    height: 50px;
    display: grid;
    grid-template-columns: [empty] 1fr [title] 4fr [score] 1fr;
    align-items: center;

    .title{
        grid-column: title;
        justify-self: center;
        font-size: 2em;

        @media only screen 
        and (max-width : 600px) 
        and (orientation : portrait)  {
            font-size: 2em;
        }
    }

    .score-style{
        grid-column: score;
        justify-self: center;
        display: flex;
        flex-direction: column;

        @media only screen 
        and (max-width : 375px) 
        and (orientation : portrait)  {
            justify-self: end;
            font-size: 1em;
        }

        .titleGroup{
            display: flex;
            @media only screen 
            and (max-width : 600px) 
            and (orientation : portrait)  {
                padding-right: 1em;
            }
        }

        .titleLabel{
            @media only screen 
            and (max-width : 600px) 
            and (orientation : portrait)  {
                // display: none;
            }
        }
    }  
}