    board-frame{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row: gameBoard;
        justify-self: center;
        background-image: radial-gradient(rgb(68, 68, 68), rgb(201, 223, 243));
        padding: 7.5px; 
        box-shadow: inset 0 0 10px rgb(0, 0, 0);
        width: 50vw;
        height: 50vw;

        @media only screen 
        and (max-width : 420px) 
        and (orientation : portrait)  {
            width: 80vw;
            height: 80vw;
            align-self: start;
         }
    }