

.titlebar-style{
    background-color: cornflowerblue;
    width: 100vw;
    height: 50px;
    display: grid;
    grid-template-columns: [empty] 100px [title] auto [score] 100px;
    // grid-template-areas: ". title score"

    h1{
        // background-color: beige;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: title;
    }

    .score-style{
        grid-column: score;
        // background-color: rgb(55, 42, 233);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }  
}