// .score-style{
//     width: 100vw;
//     height: 50px;
//     background-color: rgb(212, 14, 230);
//     display: flex;
//     flex-direction: column;
// }

.titlebar-style{
    width: 100vw;
    height: 50px;
    background-color: rgb(41, 247, 110);
    display: grid;
    grid-template-columns: auto 100px;

    h1{
        background-color: beige;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .score-style{
        background-color: rgb(255, 0, 55);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  
    }  
}